{{ define "main" }}
<section id="main">
  <div>
    <a href="/index.html">Home</a>
    <a href="/pdf/CV.pdf"
      target="_blank"
      rel="noreferrer noopener">PDF version</a>
  </div>
  <div class="container">
  <h1 id="title">{{ .Title }}</h1>
  <h1 id="author">{{ $.Param "author" }}</h1>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
        <div class="last-updated">
          Last updated: {{ .Date.Format "2006-01-02" }}
        </div>
</section>
{{ end }}
