:root {
  --background-color: #f9f9f9;
  /* --base-color: #87919e; */
  --base-color: #707078;
  --alt-color: #8da7be;
  --alt-color-2: #707078;
}

/* Main setup */
html {
    font-family: "Raleway", sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

#cv-navigation a {
 font-family: "Montserrat", sans-serif;
 font-size: large;
 margin-right: 2em;
}

#cv-author {
  font-size: xx-large;
}

.article-title {
  margin-bottom: 0.5em;
}

.article-body {
  margin-left: 1em;
}

.abstract {
  margin-top: 0.5em;
}

/* Style hyperlinks */
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link,
a:visited {
  color: var(--base-color);
}

a:focus,
a:hover {
  border-bottom: 1px solid;
  color: var(--alt-color);
}

a:active {
  color: var(--alt-color-2);
}

.last-updated {
  margin-top: 1em;
  text-align: right;
}


/* Mobile layout */
.homepage-header {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
}

.portrait {
  display: flex;
  justify-content: center;
}

#portrait-img {
  align-self: start;
  border-radius: 50%;
  display: block;
  max-width: 220px;
  width: 100%;
  height: auto;
}


.social {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
}


/* Main layout */
@media (min-width: 480px) {
  .main {
    margin: 0em 20%
  }

  /* Home page layout */
  .homepage-header {
    font-size: 1.5em;
  }

  .presentation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }

  .portrait-social {
    display: block;
    grid-column: 1;
  }

  .presentation {
    display: grid;
    grid-column: 2;
  }
}

.urls {
  display: flex;
  flex-flow: wrap;
}

.urls a {
  margin-right: 1em;
}

