{{ define "main" }}
  <main>
    <header class="homepage-header">
      <h1>{{.Title}}</h1>
    </header>
    <div class="presentation">
      <div class="portrait-social">
        <div class="portrait">
          <img src="/img/portrait1.jpg" alt="Portrait" id="portrait-img">
        </div>
        <div class="social ai-2x fa-2x">
          {{- range .Site.Data.links.social }}
            <div class="social-item">
              <a href="{{ .url }}"
                 alt="{{ .name }}"
                 title="{{ .name }}"
                 data-toggle="tooltip"
                 target="_blank"
                 rel="noreferrer noopener {{ .rel }}">
                <i class="{{ .icon }}">
                </i>
              </a>
            </div>
          {{- end }}
        </div>
      </div>
      <div class="about">
        {{.Content}}
      </div>
    </div>
    <div class="research">
      {{- with .Site.GetPage "/research" -}}
        {{- .Content -}}
      {{- end -}}
    </div>
    <div class="last-updated">
      Last updated: {{ now.Format "2006-01-02" }}
    </div>
  </main>
{{ end }}
