{{ $paper := .Get 0 }}
{{ $path := path.Join "research" $paper }}
{{ with .Site.GetPage $path }}
  {{ $date := time (.Params.Date)}}
  <div class="paper">
    <h3 class="article-title">
      {{ if .Params.Url_pdf }}
        <a href={{ .Params.Url_pdf }}
           target="_blank"
           rel="noreferrer noopener">{{ .Title }} ({{ $date.Year }})</a>
      {{ else }}
        {{ .Title }} ({{ $date.Year }})
      {{ end }}
    </h3>
    <div class="article-body">

      {{ partial "authors.html" .Params.Authors }}
      {{ if .Params.Publication }}
        <a href={{ .Params.Url_journal }}
           target="_blank"
           rel="noreferrer noopener"><em>{{ .Params.Publication }}</em>
          {{ .Params.Volume }}{{ if .Params.Number }}({{ .Params.Number }}){{ end }}
        </a>
      {{ end }}
      <div class="urls">
        {{ range .Params.Url_custom }}
          <a href={{ .url }}
             target="_blank"
             rel="noreferrer noopener">{{ .name }}</a>
        {{ end }}
      </div>
      <div class="abstract">
        <details>
          <summary>Abstract</summary>
          {{ .Params.Abstract | markdownify }}
        </details>
      </div>
    </div>
  </div>
{{ end }}
